* {
    box-sizing: border-box;
}
.card {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  margin: 30px;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  
}
.card:hover {
  -moz-box-shadow: 0 0 10px teal;
		-webkit-box-shadow: 0 0 10px teal;
    box-shadow: 0 0 10px teal;
    opacity: 0.3;
	  filter: alpha(opacity=30);
}
.card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:white;
  }
  .card > .img-container > img {
    width: 100%
  }